@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:ital,wght@0,500;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
section{
    padding-top: 4em;
    padding-bottom: 4em;
}
html{
    scroll-behavior: smooth;
}
img{
    /* width: 100%; */
    position: relative;
    object-fit: cover;
}
/* navbar-section */
/* navbar-section */
.navbar{
    height: 85px;
    padding: 15px;
}
.navbar-brand img{
    width: 150px;
   height: auto;
}
.navbar .nav-link {
    /* color:rgb(0, 0, 146); */
    color: #fff;
    font-size: 18px;
    font-weight: 800; 
}
.navbar .nav-link.active{
    color: #face30;
}

input::placeholder{
    text-align: end;
    color: #fff;
}
/* .....contact-me */
#contact-me{
    background: linear-gradient( rgba(0, 0, 0, 1),rgba(0, 0, 07, 0.62)), url("../Image/jerry-logoo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-width: 1440px;
    height: auto;
    color: #fff;
    display: flex;
    align-items: center;
    padding-top: 8em;
    padding-bottom: 13em;
}
.input-group{
    margin-bottom: 30px;
    position: relative;
    color: #fff;
    /* transition: all 0.74s ease-out; */
}
input{
    border-radius: 200px;

}
input,textarea{
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    /* height: 54px; */
    padding: 10px;
    color: #fff;
    outline: 0;
}
#submit{
/* padding: 10px 40px 10px 40px; */
width: 100%;
height: 50px;
/* margin: auto; */
outline: 0;
border: 0;
color: #fff;
font-weight: bold;
background: #face30;
border-radius: 4px;
}
label{
    position: absolute;
    top: -0px;
    height: 100%;
   padding-left: 10px;
   padding-top: 5px;
}
input:focus~label{
    top: -35px;
  padding: 12px;
  transition: all 0.34s ease-out;
}
input:valid~label{
    top: -35px;
    font-size: 18px;
    color: #fff;
    padding: 10px;
}

textarea:focus~label{
    top: -35px;
  padding: 12px;
}
textarea:valid~label{
    top: -35px;
    font-size: 18px;
    color: #fff;
    padding: 10px;
}


/* footer-section */
footer{
    /* background: linear-gradient(0deg, rgba(40, 17, 61, 0.52),rgba(37, 18, 207, 0.32)), url("../Image/code.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:auto;
    max-width: 1440px;
    padding: 30px;
    text-align: center;
}
footer h6{
    letter-spacing: 0.5em;
}
footer .icon{
    display: flex;
    justify-content: center;
}
footer .icon i{
    margin: 10px;
}
footer ul li:hover{
   text-decoration: underline;
   text-decoration-color: #face30;
    cursor: pointer;
}
.icons .fa-brands,
.fa-envelope{
    /* margin-left: 15px; */
    cursor: pointer;
    transition: all 0.35s ease;
}
.icons .fa-brands:hover,
.fa-envelope:hover{
    transform: translateY(-5px);
}
.icons .fa-facebook{
    background-color: blue;
    padding: 10px 10px;
    border-radius: 100px;
}
.icons .fa-whatsapp{
    background-color: green;
    padding: 10px 10px;
    border-radius: 100px;
    /* width: 30px;
    height: 30px; */
}
.icons .fa-instagram{
    background-color: rgb(231, 7, 119);
    padding: 10px 10px;
    border-radius: 100px;
    /* width: 30px;
    height: 30px; */
}
.icons .fa-envelope{
    background-color: rgb(208, 7, 44);
    padding: 10px 10px;
    border-radius: 100px;
    /* width: 30px;
    height: 30px; */
}
.icons .fa-github{
    background-color: rgb(18, 17, 17);
    padding: 10px 10px;
    border-radius: 100px;
    /* width: 30px;
    height: 30px; */
}
.icons .fa-twitter{
    background-color: lightblue;
    padding: 10px 10px;
    border-radius: 100px;
    /* width: 30px;
    height: 30px; */
}

@media (min-width: 992px){
.icons{
    position: fixed;
    right: 0;
    bottom: 20px;
}
.icons i{
    margin-left: 20px;
}

}



@media (max-width: 568px){
    .navbar-toggler{
        border: 0;
        font-size: smaller;
    }
    span.navbar-toggler-icon{
        width: 30px;
        height: 30px;
        border-radius: 0;
    }
    .navbar-brand img{
    width: 150px;
   height: 62px;
}
.text{
    font-size: x-large;
    margin-top: 10px;
}
.icons{
    position: fixed;
    bottom: 20px;
}
.icons i{
    margin-left: 10px;
}
}
