@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:ital,wght@0,500;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
section{
    padding-top: 4em;
    padding-bottom: 4em;
}
html{
    scroll-behavior: smooth;
}
img{
    width: 100%;
    position: relative;
    object-fit: cover;
}
/* navbar-section */
.navbar-brand{
    color:turquoise;
    font-weight: 800;
}
.navbar .nav-link {
    color:turquoise;
    font-size: 18px;
    font-weight: 700;
}


/* .....contact-me */
#contact-me{
    background: linear-gradient(0deg, rgba(40, 17, 61, 0.52),rgba(37, 18, 207, 0.32)), url("../Image/Coding_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-width: 1440px;
    height: auto;
    color: #fff;
}
#contact-me img{
    height: auto;
    mix-blend-mode:darken;
}
.input-group{
    margin-bottom: 30px;
    position: relative;
    /* transition: all 0.74s ease-out; */
}
input,textarea{
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    /* height: 54px; */
    padding: 10px;
    color: #fff;
    outline: 0;
}
#submit{
/* padding: 10px 40px 10px 40px; */
width: 122px;
height: 50px;
margin: auto;
outline: 0;
border: 0;
color: #fff;
font-weight: bold;
background: #face30;
border-radius: 4px;
}
label{
    position: absolute;
    top: -0px;
    height: 100%;
   padding-left: 10px;
   padding-top: 5px;
}
input:focus~label{
    top: -35px;
  padding: 12px;
  transition: all 0.34s ease-out;
}
input:valid~label{
    top: -35px;
    font-size: 18px;
    color: #fff;
    padding: 10px;
}

textarea:focus~label{
    top: -35px;
  padding: 12px;
}
textarea:valid~label{
    top: -35px;
    font-size: 18px;
    color: #fff;
    padding: 10px;
}


/* footer-section */
footer{
    background: linear-gradient(0deg, rgba(40, 17, 61, 0.52),rgba(37, 18, 207, 0.32)), url("../Image/code.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:auto;
    max-width: 1440px;
    padding: 30px;
    text-align: center;
}
footer h6{
    letter-spacing: 0.5em;
}

footer ul li:hover{
   text-decoration: underline;
   text-decoration-color: #face30;
    cursor: pointer;
}
.icons .fa-brands,
.fa-envelope{
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.35s ease;
}
.icons .fa-brands:hover,
.fa-envelope:hover{
    transform: translateY(-5px);
}
.icons .fa-facebook{
    background-color: blue;
    padding: 10px 10px;
    border-radius: 100px;
    /* width: 30px;
    height: 30px; */
}
.icons .fa-whatsapp{
    background-color: green;
    padding: 10px 10px;
    border-radius: 100px;
    /* width: 30px;
    height: 30px; */
}
.icons .fa-instagram{
    background-color: rgb(231, 7, 119);
    padding: 10px 10px;
    border-radius: 100px;
    /* width: 30px;
    height: 30px; */
}
.icons .fa-envelope{
    background-color: rgb(208, 7, 44);
    padding: 10px 10px;
    border-radius: 100px;
    /* width: 30px;
    height: 30px; */
}
.icons .fa-github{
    background-color: rgb(18, 17, 17);
    padding: 10px 10px;
    border-radius: 100px;
    /* width: 30px;
    height: 30px; */
}
.icons .fa-twitter{
    background-color: lightblue;
    padding: 10px 10px;
    border-radius: 100px;
    /* width: 30px;
    height: 30px; */
}
