@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:ital,wght@0,500;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
section{
    padding-top: 4em;
    padding-bottom: 4em;
}
html{
    scroll-behavior: smooth;
}
img{
    width: 100%;
    position: relative;
    object-fit: cover;
}
/* navbar-section */
.navbar{
    height: 85px;
    padding: 15px;
}
.navbar-brand img{
    width: 150px;
   height: auto;
}
.navbar .nav-link {
    /* color:rgb(0, 0, 146); */
    color: #fff;
    font-size: 18px;
    font-weight: 800; 
}
.navbar .nav-link.active{
    color: #face30;
}


/* pricing-section */
#pricing{
    height: auto;
    padding: 30px;
    max-width: 1440px;
    background-color:rgba(188, 196, 200,0.3);
    padding-top: 6em;
}
#skills{
    height: 100vh;
    padding-top: 200px;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#skills h4{
    font-size: small;
    letter-spacing: 2px;
    font-weight: bold;
}
#skills .skill-col i{
font-size: 60px;
}
#skills .skill-col div img{
    height: 70px;
    width: 80px;
}
#skills .skill-col div{
    background: linear-gradient(rgba(250, 206, 48,0.20), rgba(250, 206, 48,0.20)) ;
    /* opacity: 20%; */
    padding: 10px 10px; 
    width: 50px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
#skills .skill-col{
    margin-bottom: 50px;
}

#pricing h4{
    padding-top: 16px;
    color: turquoise;
    line-height: 28px;
}




@media (min-width: 992px){
    /* navbar */
    .nav-link{
        margin-left: 35px;
    }

    .icons{
        position: fixed;
        right: 0;
        bottom: 20px;
    }
    .icons i{
        margin-left: 20px;
    }
    #skills h4{
        font-size: large;
        letter-spacing: 2px;
        font-weight: bold;
    }

}



@media (max-width: 568px){
    .navbar-toggler{
        border: 0;
        font-size: smaller;
    }
    span.navbar-toggler-icon{
        width: 30px;
        height: 30px;
        border-radius: 0;
    }
    .navbar-brand img{
    width: 150px;
   height: 62px;
}
    .text{
        font-size: x-large;
        margin-top: 10px;
    }
    .icons{
        position: fixed;
        bottom: 20px;
    }
    .icons i{
        margin-left: 10px;
    }
}       