@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:ital,wght@0,500;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
section{
    padding-top: 4em;
    padding-bottom: 4em;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* navbar-section */
.navbar{
    height: 85px;
    padding: 15px;
    /* display: flex;
    overflow: hidden;
    align-items: center; */
    background:linear-gradient(to right ,rgba(15, 4, 82, 0.80),rgb(62, 224, 207));
}

.navbar-brand img{
    width: 150px;
   height: auto;
}
.navbar .nav-link {
    /* color:rgb(0, 0, 146); */
    color: #fff;
    font-size: 18px;
    font-weight: 800; 
}
.navbar .nav-link.active{
    color: #face30;
}

/* home-section */
#home{
    height: 100vh;
    max-width: 1440px;
    width: 100%;
    background:linear-gradient(to right ,rgba(15, 4, 82, 0.80),rgba(62, 224, 207,1));
    /* background: turquoise; */
    /* background: linear-gradient( rgba(0, 0, 0,0.50),rgba(0, 0, 0,0.50)), url("../Image/bg_blog.jpg"); */
    /* background: linear-gradient(rgba(0, 0, 0,0.02),rgba(0, 0, 0,0.1)); */
    /* background-color: black; */
    /* opacity: 75%; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.di{
    /* margin-top: 200px; */
}
.video-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}
.video-overlay video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Auto-typing-section */
.main{
    display: flex;
    /* justify-content: ; */
}
.main .option{
    line-height: 90px;
    height: 90px;
}
.option{
    line-height: 90px;
    height: 90px;
    margin-left: 5px;
    overflow: hidden;
}
.option li{
    /* color:rgb(0, 0, 146); */
    font-weight: 900;
    line-height: 90px;
    position: relative;
    top: 0;
    right: 30px;
    animation: slide 12s steps(4) infinite;
    /* margin: 5px 0; */
}
.option li{
    font-size:30px;
    font-weight: 900;
    }
    .text{
        /* padding-top: 20px; */
        font-weight: 700;
        color:#fff;
    }
    .jerry h5{
        letter-spacing: 4px;
        font-weight: 900;
        color: #000;
    }
    .jerry .btn{
        padding: auto auto;
        border-radius: 4px;
        background:linear-gradient(to right ,rgba(15, 4, 82, 0.80),rgb(62, 224, 207));
        color: white;
        font-weight: bolder;
    }
@keyframes slide{
    100%{
        top: -360px;
    }
}
.option li span{
    position: relative;
    line-height: 90px;
    height: 90px;
}
.option li span::after{
    position: absolute;
    content: '';
    inset: 0;
    border-left: 2px solid #fff;
    width: 100%;
    height: 100%;
    left: 0;
    animation: typing 3s steps(10) infinite;
    background: linear-gradient( rgba(0, 0, 0,0.50),rgba(0, 0, 0,0.50)), url("../Image/bg_blog.jpg");
    background-position: center;
}
@keyframes typing {
    40%,60%{
        left: calc(100% + 30px);
    }
    100%{
        left: 0;
    }
}


/* about-section */
.fa-github, .fa-linkedin, .fa-envelope{
    font-size: 25px;
    margin-left: 10px;
}

#about img{
    height: 400px;
}
.about_img{
    background: linear-gradient( rgba(0, 0, 0,0.50),rgba(0, 0, 0,0.50)),  url("../Image/bg_blog.jpg");background-repeat: no-repeat; background-size: cover; background-position: center; height: 100vh;
}


/* section/offer */


/* -section-portfolio*/
#portfolio{
    max-width: 1440px;
    height: auto;
    padding: 30px;
    background: #000;
}

#portfolio h4{
    text-transform: uppercase;
}
#portfolio a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}
.empty_div_content img{
    border-radius: 30px;
    position: relative;
    object-fit: cover;
    object-position: top bottom;
    /* mix-blend-mode:exclusion; */
    /* overflow: hidden; */
    /* height: 100%; */
    width: 100%;
}
.empty_div_content{
    position: relative;
    cursor: pointer;
    transition: all 0.94s;
}
.empty_div_content:hover .empty_div{
    display: block;
}
/* .empty_div:hover  .para{
    display: none;
} */
.empty_div{
    position: absolute;
    background: linear-gradient(0deg, rgba(150, 127, 170, 0.80),rgba(250, 206, 48, 1));
    width: 100%;
    max-height: 400px;
    color: #face30;
    font-size: 20px;
    inset: 0;
    display: none;
    border-radius: 50px;
    font-weight: 900;
}
.empty_div p{
    padding-top: 5em;
}
.more{
    background: linear-gradient(0deg, rgba(40, 17, 61, 0.52),rgba(37, 18, 207, 0.32)), url("../Image/me-eyeglass.png");
    height: auto;
    padding: 20px;
    width: 100%;
}



/* footer-section */
footer{
    /* background: linear-gradient(0deg, rgba(40, 17, 61, 0.52),rgba(37, 18, 207, 0.32)), url("../Image/code.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:auto;
    max-width: 1440px;
    padding: 30px;
    text-align: center;
}
footer h6{
    letter-spacing: 0.5em;
}

footer .icon{
    display: flex;
    justify-content: center;
}
footer .icon i{
    margin: 10px;
}

footer ul li:hover{
   text-decoration: underline;
   text-decoration-color: #face30;
    cursor: pointer;
}
.icons .fa-brands,
.fa-envelope{
    cursor: pointer;
    transition: all 0.35s ease;
}
.icons .fa-brands:hover,
.fa-envelope:hover{
    transform: translateY(-5px);
}
.icons .fa-facebook{
    background-color: blue;
    padding: 10px 10px;
    border-radius: 100px;
    /* width: 30px;
    height: 30px; */
}
.icons .fa-whatsapp{
    background-color: green;
    padding: 10px 10px;
    border-radius: 100px;
    /* width: 30px;
    height: 30px; */
}
.icons .fa-instagram{
    background-color: rgb(231, 7, 119);
    padding: 10px 10px;
    border-radius: 100px;
    /* width: 30px;
    height: 30px; */
}
.icons .fa-envelope{
    background-color: rgb(208, 7, 44);
    padding: 10px 10px;
    border-radius: 100px;
    font-size: 20px;
    /* width: 30px;
    height: 30px; */
}
.icons .fa-github{
    background-color: rgb(18, 17, 17);
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 100px;
    /* width: 30px;
    height: 30px; */
}
.icons .fa-twitter{
    background-color: lightblue;
    padding: 10px 10px;
    border-radius: 100px;
    /* width: 30px;
    height: 30px; */
}

.icons{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.site li:hover{
    color: blue;
}
.code{
    margin-left: -30px;
}
.code-1{
    margin-left: -90px;
}
.jerry-p{
    /* width: 100%;
    height: 100%; */
    /* object-fit: cover; */
    /* filter: brightness(); */
    /* border-radius: 50%; */
}
#home .p-img{
    /* max-width: 100%; */
    /* height: 100%; */
    /* overflow: hidden; */
    position: relative;
}
#home .p-img img{
    /* height: 100%; */
    position: absolute;
    right: 0;
}


@media (min-width: 992px){
    /* navbar */
    .nav-link{
        margin-left: 35px;
    }
    .jerry .btn{
        margin-left: 15px;
    }
    /* portfolio */
    #portfolio p{
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    #portfolio img{
        width: 500px;
        height: 200px;
    }
    .icons{
        position: fixed;
        right: 0;
        bottom: 20px;
    }
    .icons i{
        margin-left: 20px;
    }
    .code{
        margin-left: -30px;
    }
    .code-1{
        margin-left: -90px;
    }
}



@media (max-width: 568px){
    .navbar-toggler{
        border: 0;
        font-size: smaller;
    }
    span.navbar-toggler-icon{
        width: 30px;
        height: 30px;
        border-radius: 0;
    }
    .navbar-brand img{
    width: 150px;
   height: 62px;
}
   .overlay{
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 700px;
    /* min-height: 100%; */
    top: 0;
    /* height: 900px; */
   }
    .text{
        font-size: x-large;
        margin-top: 10px;
    }
    .icons{
        position: fixed;
        bottom: 20px;
    }
    .icons i{
        margin-left: 10px;
    }
    .about_section{
        background-color: lightblue;
        
    }
    .site li{
        line-height: 20px;
        gap: 10px;
    }
}